@keyframes pulse {
    0% {
        box-shadow: 0px 0px 5px 0px red;
    }

    60% {
        box-shadow: 0px 0px 5px 5px black;
    }
}

.price-btn {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.navbar-brand {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

}

.display-btn-margin {
    display: block !important;
}

.card-title {
    text-align: center;
    color: black;
    font-weight: 600;
}



/* 
======
Product Crads Css
=============== 
*/

.card-footer-btn {
    position: relative;
    display: grid;
    gap: 8px;

}

@media (max-width:119px) {
    .card-footer-btn {
        position: relative;
        display: grid;
        gap: 8px;
        margin-left: -3px;
        margin-right: -6px;
    }

    .detail-btn {
        font-size: 3px;
    }

    .add-cart-btn {
        font-size: 3px;
    }

}

@media only screen and (min-width:120px) and (max-width:189px) {
    .card-footer-btn {
        position: relative;
        display: grid;
        gap: 8px;

    }

    .detail-btn {
        font-size: 6px;
    }

    .add-cart-btn {
        font-size: 7px;
    }

    .display-btn-margin {
        display: block !important;
        margin-top: -64px;
        text-align: center;
    }

}

@media only screen and (min-width:190px) and (max-width:220px) {
    .card-footer-btn {
        position: relative;
        display: grid;
        gap: 8px;

    }

    .detail-btn {
        font-size: 9px;
    }

    .add-cart-btn {
        font-size: 9px;
    }

    .display-btn-margin {
        display: block !important;
        margin-top: -64px;
        text-align: center;
    }

}

@media (max-width:500px) {

    .col-6 {
        width: auto !important;
        margin: auto !important;

    }

    .card-text {
        position: relative;
        margin-top: 20px;
        text-align: center;
    }

    .display-btn-margin {
        position: relative;
        display: block !important;
        margin-top: -35px;
        text-align: center;
    }

    .price-btn {
        margin-top: -52px !important;
        text-align: center;
        display: flow-root;
        margin-top: -52px;
    }

    .w-75 {
        width: 100% !important;
    }

}

@media only screen and (min-width:501px) and (max-width:768px) {

    .display-btn-margin {
        position: absolute;
        display: block !important;
        margin-top: -79px;
        margin-left: -4px;
    }

    .price-btn {
        position: absolute;
        margin-top: -55px !important;
    }

}

@media only screen and (min-width:992px) and (max-width:1036px) {

    .nav-font-size {
        font-size: 14px !important;
        font-weight: 600 !important;
        color: black !important;
    }


}