* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: blueviolet;

}

a {
    text-decoration: none !important;

}

.products-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.3rem;

}

.card {
    width: 14rem;
    max-width: 14rem;
}

.card-footer-btn {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
}

.card-body {
    background-color: #d5c6c617;
}

.image-fit {
    object-fit: cover;
    width: 50%;
    float: right;
}

.text-size {
    color: black;
    font-weight: 600;
}

.h1-margin-top {
    text-align: center;
}

.float-fix {
    clear: both;
}

.details-item {
    width: 50%;
    float: left;
}

.btn-succes- {
    display: grid;
    justify-items: center;
    width: 25%;

}

.price {
    display: grid;
    place-items: center;
    width: 25%;

}

/* 
============
Media Queries
=================== 
*/

@media screen and (max-width:500px) {
    .h1-margin-top {
        margin-top: -17px;
    }

    .image-fit {
        object-fit: cover;
        width: 100%;
        float: right;
    }

    .products-container {
        margin-top: -27px;
    }

    .btn-succes- {
        display: grid;
        justify-items: center;
        margin-top: -50px !important;
    }

}

@media only screen and (min-width:501px) and (max-width:1040px) {

    .image-fit {
        object-fit: cover;
        width: 70%;
        float: right;
    }

    .h1-margin-top {
        margin-top: -17px;
    }

    /* .price {
        display: grid;
        margin-top: 8px;
        justify-content: center;
    } */


    /* .btn-succes- {
        display: grid;
        margin-top: -54px;
        justify-content: center;
    } */

    .products-container {
        margin-top: -27px;
    }


}