* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Merriweather', serif;
}

/* .header-background-color {
    background: linear-gradient(150deg, black, transparent);
} */

.animation-icon {
    color: aqua;
}

.animation-icon:hover {
    color: cadetblue;

}

.nav-item .nav-link:hover {
    color: black;
    transform: rotateY(360deg);
    box-shadow: 0px 6px 7px 5px red;
    margin-left: 10px;
}

.navbar-brand:hover {
    transform: rotateY(360deg);
    box-shadow: 0px 6px 7px 5px black;
}

.nav-link {
    color: black;
    display: flex;
}

.nav-items-gap {
    display: flex;
    column-gap: 16px;
}

.header-icons {
    color: blue;
}

.navbar-circle-icon {
    color: darkcyan;
}

.header-titile-:hover {
    box-shadow: 0px 6px 7px 5px red;
}

.header-number:hover {
    box-shadow: 0px 6px 7px 5px red;
}

.header-titile-:hover {
    color: black;

}

a {
    text-decoration: none;
    color: black;
}

.btn {
    color: black;
    font-size: 18px;
}

.header-icons-color {
    color: blue;
}

.header-icons-color:hover {
    margin-left: 1px;
    color: black;
    background-color: blanchedalmond;
}

@media (max-width:262px) {
    .header-icons- {
        display: none;
    }

    .navbar-hide-brand {
        font-size: 14px;
        margin-left: -25px;
    }

    .small-screen-header-icon {
        display: none;
    }

}

@media (max-width:243px) {
    .header-number {
        display: none;
    }

    .nav-icons-media {
        display: none;
    }
}

@media (max-width:679px) {
    .header-icons {
        display: none;
    }
}

@media only screen and (min-width:656px) and (max-width:2560px) {
    .header-icons {
        display: flex;
        justify-content: space-between;
        column-gap: 26px;
    }
}

@media only screen and (min-width:277px) and (max-width:473px) {
    .header-number {
        font-size: 11px;
    }

    .header-titile- {
        font-size: 11px;
    }

}


@media only screen and (min-width: 241px) and (max-width: 703px) {
    .nav-icons-media {
        display: flex;
        justify-content: space-between;
        column-gap: 19px;
        color: blue;

    }

    .navbar-circle-icon {
        color: green;
        margin-left: 13px;
    }

}

@media only screen and (min-width: 100px) and (max-width: 272px) {
    .top-header {
        height: 44px;
        font-size: 8px;
    }

    .nav-link {
        font-size: 14px;
    }

    .navbar-toggler {
        font-size: 12px;
        background-color: currentcolor;
    }

}

@media only screen and (min-width: 263px) and (max-width: 315px) {
    .navbar-brand {
        margin-left: -5px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1275px) {
    .dropdown-menu-background-color {

        margin-left: -100px;
        color: ghostwhite;
        background: linear-gradient(150deg, darkgoldenrod, transparent);
    }

    .contact-us-margin {
        margin-right: 13px;
    }

    .dropdown .dropdown-item:hover {
        color: black;
        transform: rotateY(360deg);
        box-shadow: 1px 2px 6px 8px red;
        margin-left: 0px;
    }
}

@media only screen and (min-width: 656px) and (max-width: 719px) {
    .header-icon-hide {
        display: none;
    }

}

@media (max-width: 705px) {
    .header-icon-hide {
        display: none;
    }
}